 
 /* Fondo con overlay */
 .bg-overlay {
    /* background-image: url('https://i.postimg.cc/vHBpQDZ0/fondo1.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.postimg.cc/8Pn9c5CN/fondo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
}

/*Responsive Design*/

 @media (max-width: 640px) {
    .menu-responsive {
        background-color: rgb(93, 22, 160);
        margin-top: -20px;
        width: 430px;
        margin-left: -173px;
        font-size: 19px;
        padding-left: 20px;
        height: 317px;
        padding-top: 20px;
    }

    .info-responsive {
        width: 95%;
        margin-left: -10px;
    }

    .personal-info-responsive {
        width: 90%;
        margin-left: -2px;
        margin-bottom: 20px;
    }

    
    
 }