 
 /* Fondo con overlay */
 .bg-overlay {
    /* background-image: url('https://i.postimg.cc/vHBpQDZ0/fondo1.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.postimg.cc/8Pn9c5CN/fondo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
}

/* Section 3: Services Design*/
.services-section{
    width: 100%;
    background-color: rgb(18, 0, 36);
}

.text-gray-200 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }
  .peer-checked + label + div {
    transition: max-height 0.3s ease-out;
  }

  .rounded-lg:hover {
    background-color: #6b46c1; /* Morado más claro */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  }

  .p-4 {
    padding: 1.5rem; /* Incrementar el espacio interno */
  }

  .peer-checked .rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
  
  /* Section Skills: Design*/
  




/*Responsive Design*/

 @media (max-width: 640px) {
    .menu-responsive {
        background-color: rgb(93, 22, 160);
        margin-top: -20px;
        width: 430px;
        margin-left: -173px;
        font-size: 19px;
        padding-left: 20px;
        height: 317px;
        padding-top: 20px;
    }

    .info-responsive {
        width: 95%;
        margin-left: -10px;
    }

    .personal-info-responsive {
        width: 90%;
        margin-left: -2px;
        margin-bottom: 20px;
    }

    /*Skills responsive*/
    .skills-section .cards-skills-section,
  .skills-section .cards-f2 {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por fila en pantallas pequeñas */
  }

  

 }